body, html{
	height:100%;
	font-size:12px;
}
table, p{
	font-size:12px;
}
.company-name{
	font-size: 18px;
    text-align: center;
	font-weight: bold;
}
.company-heading{
	text-align: center;
}
.report-title{
	font-size: 18px;
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
}
.company-image img{
	float:left;
	top:5px;
	left:0px;
	right:0px;
	bottom:0px;
	width:150px;
	position: absolute;
}
.top-table{
	border:1px solid #000;
	border-bottom:0px;
	display:flex;
	border-collapse: collapse;
	clear:both;
}
.left-table{
	width:50%;
	float:left;
	border-collapse: collapse;
}
.right-table{
	width:49.65%;
	float:right;
	border-collapse: collapse;
}
.right-table tbody{
	text-align:right;
}
.product-details{
	width:100%;
	border:1px solid #000;
	border-collapse: collapse;
}
.product-details tr:first-child th{
    border-bottom: 1px solid #000;
	border-right:1px solid #000;
	text-align: left;
}
.product-details td{
	border-right:1px solid #000;
}
.table-header{
	font-weight:bold;
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
}
.table-cell-normal{
	border-right:1px solid #000;
}
.table-cell-decimal{
	border-right:1px solid #000;
	text-align:right;
}
.table-cell-normal-topborder{
	border-right:1px solid #000;
	border-top: 1px solid #000;
}